.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #37b000;
  opacity: 0.8;
}

.separador {
  border-width: 0;
  height: 1px;
  border-top-width: 1px;
  border: 0.5px solid #37b000;
}
