.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
}

.listaItem {
  display: flex;
  width: 30%;
}

@media (max-width: 600px) {
  .lista {
    flex-direction: column;
  }

  .listaItem {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .listaItem {
    width: 45%;
  }
}
